<div class="container-fluid center_div">
	<h2 class="col-sm-offset-3 col-sm-6 text-center">Login</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { role: "form", class: "form-horizontal"}) do |f| %>
	  <div class="form-group">
	 		<div class="col-sm-offset-3 col-sm-6">
	  		<%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
	  	</div>
	  </div>

	  <div class="form-group">
		  <div class="col-sm-offset-3 col-sm-6">
	    	<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
	    </div>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="checkbox col-sm-offset-3 col-sm-6 remember_box"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
	  <% end -%>
		<div class="form-group">
		  <div class="col-sm-offset-3 col-sm-6 text-center">
		  	<%= f.submit "Login", class: "btn btn-default" %>
		  </div>
		 </div>
	<% end %>
</div>

<%= render "devise/shared/links" %>
