<div class="container-fluid">
  <div class="row">
    <% @current_user_sales.each do |f| %>
      <a href="<%= sale_path(f) %>" data-no-turbolink='true'>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 sale-thumb" id="<%= f.id %>">
          <span><%= link_to glyph(:trash), sale_path(f), id: "remove-sale", method: :delete, data: { confirm: "Are you sure?"}, remote: :true %></span>
          <span><%= link_to glyph(:pencil), edit_sale_path(f), id: "update-sale"%></span>
          <% if f.photos.any? %>
            <%= link_to image_tag(f.photos.first.image.thumb('700x500#').url, class: ' sale-photo sale-cover-mobile img-responsive'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('700x500#').url, class: 'sale-photo sale-cover-mobile2'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('1024x600#').url, class: 'sale-cover-tablet'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('358x240#').url, class: 'sale-cover-desktop'),
                sale_path(f) %>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
</div>
