<%= render('google_map_script') %>
<%= render('google_map') %>
<div class="container-fluid">
  <div class="row">
    <% @favorites.each do |f| %>
      <a href="<%= sale_path(f) %>" data-no-turbolink='true'>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 sale-thumb">
          <span><%= link_to "unfavorite", favorite_sale_path(f, type: "unfavorite"), class: 'icon-unfav', method: :put %></span>
          <% if f.photos.any? %>
            <%= link_to image_tag(f.photos.first.image.thumb('100x80#').url, class: 'sale-cover-mobile'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('170x130#').url, class: 'sale-cover-mobile2'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('270x180#').url, class: 'sale-cover-tablet'),
                sale_path(f) %>
            <%= link_to image_tag(f.photos.first.image.thumb('358x240#').url, class: 'sale-cover-desktop'),
                sale_path(f) %>
          <% end %>
          <p class="text-left title"><%= f.title %></p>
          <p class="text-left address"><%= f.address %></p>
          <p class="text-left date"><%= f.format_date %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>
<%= render('google_map_styles') %>
