<div class="container-fluid">
	<div class="row" id="sales">
		<% @sales.each do |sale| %>
		  	<div class="col-sm-6 col-md-3">
		    	<div class="thumbnail">
		      	<%= image_tag sale.picture.url(:medium), class: "img-responsive img-thumbnail" %>
		      	<div class="caption">
			        <h3 class="text-center"><%= sale.title %></h3>
			        <p class="text-center"><%= sale.format_date %></p>
			        <p class="text-center"><%= sale.address %></p>
			        <p class="text-center"><%= link_to "View", sale_path(sale), class: "btn btn-primary", role: "button" %></p>
		    	</div>
		  	</div>
			</div>
		<% end %>
	</div>
</div>