<%= render('google_map_script') %>
<%= render('google_map') %>
<div class="container-fluid">
  <div class="row">
    <% @sales.each do |sale| %>
      <a href="<%= sale_path(sale) %>" data-no-turbolink='true'>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 sale-thumb">
          <% if current_user %>
            <span><%= link_to "unfavorite", favorite_sale_path(sale, type: "unfavorite"), class: 'icon-unfav', method: :put %></span>
            <span><%= link_to glyph(:heart), favorite_sale_path(sale, type: "favorite"), class: 'icon-fav', method: :put %></span>
          <% end %>
          <% if sale.photos.any? %>
            <%= link_to image_tag(sale.photos.first.image.thumb('100x80#').url, class: 'sale-cover-mobile'),
    sale_path(sale) %>
            <%= link_to image_tag(sale.photos.first.image.thumb('170x130#').url, class: 'sale-cover-mobile2'),
    sale_path(sale) %>
            <%= link_to image_tag(sale.photos.first.image.thumb('270x180#').url, class: 'sale-cover-tablet'),
    sale_path(sale) %>
            <%= link_to image_tag(sale.photos.first.image.thumb('358x240#').url, class: 'sale-cover-desktop'),
    sale_path(sale) %>
          <% end %>
          <p class="text-left title"><%= sale.title %></p>
          <p class="text-left address"><%= sale.address %></p>
          <p class="text-left date"><%= sale.format_date %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>
<%= render('google_map_styles') %>
