<div class="row">
	<div class="col-xs-12">
		<div id="carousel-pictures" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<% @sale.photos.each_with_index do |photo, index| %>
					 <div class="<% if index == 0 %>item active<% else %>item<% end %>">
						<%= link_to image_tag(photo.image.thumb('1280x402#').url, class: 'img-responsive'),
        				photo.image.remote_url, target: '_blank' %></div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#carousel-pictures" role="button" data-slide="prev">
  			<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-pictures" role="button" data-slide="next">
  			<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>
<div class="row" id="info-wrapper">
	<div class="col-xs-3">
		<h1 id="show-title"><%= @sale.title %></h1>
	</div>
	<div class="col-xs-9">
		<h2 id="show-address">Address: <%= @sale.address %></h2>
	</div>
	<div class="col-xs-5">
		<p id="show-description">Description: <%= @sale.description %></p>
	</div>
	<div class="col-xs-7">
		<p id="show-date">Dates: <%= @sale.format_date %></p>
		<p id="show-time">Open <%= @sale.format_time %></p>
	</div>
</div>
