<%= render('google_map_script') %>
<div class="row">
	<ul id="photos-list">
		<li class="col-xs-3">
			<% @sale.photos.each do |photo| %>
			<%= link_to image_tag(photo.image.thumb('180x180#').url, class: 'img-thumbnail'),
          photo.image.remote_url, target: '_blank' %>
  		<% end %>
		</li>
	</ul>
	<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
		<h1 class="text-center"><%= @sale.title %></h1>
		<h2 class="text-center"><%= @sale.address %></h2>
		<p class="text-center">Description: <%= @sale.description %></p>
		<p class="text-center"><%= @sale.format_date %></p>
		<p class="text-center"><%= @sale.format_time %></p>
	</div>
	<%= render('google_map') %>
</div>
<%= render('google_map_styles') %>