<div class="row">
	<div class="col-xs-12">
		<div id="carousel-pictures" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<% @sale.photos.each_with_index do |photo, index| %>
					 <div class="<% if index == 0 %>item active<% else %>item<% end %>">
						<%= link_to image_tag(photo.image.thumb('1280x502#').url, class: 'img-responsive'),
        				photo.image.remote_url, target: '_blank' %></div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#carousel-pictures" role="button" data-slide="prev">
  			<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-pictures" role="button" data-slide="next">
  			<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1 id="show-title"><%= @sale.title %></h1>
	</div>
	<div class="col-xs-12">
		<h2 id="show-address"><%= @sale.address %></h2>
	</div>
	<div class="col-xs-12">
		<p id="show-description"><span id="description-title">Description:</span> <%= @sale.description %></p>
	</div>
	<div class="col-xs-12">
		<p id="show-date"><span id="date-title">Dates:</span> <%= @sale.format_date %></p>
	</div>
	<div class="col-xs-12">
		<p id="show-time"><span id="time-title">Open</span> <%= @sale.format_time %></p>
	</div>
</div>
